<!-- {% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Content block -->
{%block content%}
 <div class="jumbotron text-center" style="background-color:#3e055f; color: rgb(16, 202, 235); margin: 10px -100px 30px -100px;">
    <h1 class="text-center" style=" padding-bottom: 5px;">Blog Application</h1>
    {{macro.displayBlogs(blogs)}}
</div>
<div class="col-md-12">
    <div class="container">
      <div class="jumbotron">
        <p>{{ quote.quote }}</p>
        <h2>{{ quote.author }}</h2>
        <h3>{{ quote.id }}</h3>
      </div>
    </div>
</div>

{%endblock%} -->
